<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get Your Profile</title>
    </head>

    <body style="display: flex; justify-content: center; align-items: center;">
        <form action="/user" method="post" style="text-align: center;">
            <label for="search_input" style="font-size: 20px;">Enter your name:</label>
            <br>
            <hr>
            <input type="text" id="username" name="username" placeholder="Enter your name here.." style="font-size: 20px;">
            
            <input type="submit" value="Search" id="search" style="font-size: 15px;">
        </form>
    </body>
</html>